body{                                     
    margin:auto;
    max-width: 1400px;
    background: #2d2d2d;
    
   
    font-family: 'Oswald', sans-serif;          /*font-family: 'Exo 2', sans-serif;*/

}



nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav h1 {
    font-family:'Exo 2', sans-serif;
    font-size: 30px;
    color:#00FF00;
    text-shadow: 0px 6px 7px #7FFF00;
}
nav .onglets{
    margin-top: 60px;
}
nav .onglets a{
    text-decoration: none;
    color: #7FFF00;
    margin-right: 10px;
}
.articles {
    margin-top: 30px;
    background: #2d2d2d;
}
.articles .article{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.articles .article .left img{
    height: 300px;
    width: 500px;
    border-radius: 25px;
}
.articles .article .right{
    max-width: 50%;
    margin-left: 40px;
    padding: 15px;
    border-radius: 25px;
    background-image: linear-gradient(to right bottom, #f3b6f4, #dc9edb, #c587c3, #af71ab, #995b94);

    
}
.articles .article .right p.date {
    color: #7f7e7e;
}
.articles .article .right p.description {
    color: #2d2d2d
}

.articles .article .right a{
    text-decoration: none;
    color: #2d2d2d;
}

footer{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #494949;

}

footer h2 {
    font-size: 20px;
    font-family:'Exo 2', sans-serif;
    color: #00FF00;
    text-shadow: 0px 6px 7px #7FFF00;

}
footer .socialmedia{
    display: flex;
}

footer .socialmedia p{
    font-size: 18px;
    margin-right: 20px;
}

@media screen and (max-width:640px){
    body{
        margin: 5px 5px ;
    }
    nav .onglets{
        margin-top: -10px;
    }
    .articles .article .left img {
        height: 100%;
        width: 100%;
    }
    .articles .article .right {
        margin: 0px;
        max-width: 100%;
    }
    footer .socialmedia{
        margin-top: -20px;
    }
}